[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.2.10"
"psycopg2" = "*"
markdown = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.6"
